@import url("html4css1.css");

pre.red { color: red }
pre.green { color: green }
span.red { color: red }
span.blue { color: blue }
span.green { color: green }

body { 
  max-width:950px; 
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p.topic-title {
  color: #660033;
}

h1 {  font-size: x-large }
h2 {  font-size: large }
h3 {  font-size: medium }
h1.title {  font-size: x-large }
